@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Comfortaa:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&family=Syncopate:wght@400;700&family=Timmana&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    list-style-type: none;
}
.header {
    width: 100%;
}
.container {
    width: 1400px;
    margin: 0 auto;
    padding: 20px 0;
}
.main {
    width: 1400px;
    margin: 0 auto;
    padding: 20px 0;
}
.main .nav-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main-content {
    width: 100%;
    display: flex;
    justify-content: end;
}
.main-content .content-main {
    width: 1460px;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}
.main .nav-header .logo img{
    width: 190px;
}
.nav-header .centr-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.centr-menu .link-top {
    padding-bottom: 10px;
}
.centr-menu .link-bottom {
    padding-top: 10px;
    border-top: 2px solid #cdcbcb;
}
.centr-menu .link-top, .link-bottom {
    display: flex;
    align-items: center;
    gap: 2rem;
    font-size: 14px;
}
.link-top .item-top a {
    color: black;
}
.link-bottom a {
    color: black;
}
.contect-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}
.language-manu {
    padding: 8px;
    background-color: white;
    box-shadow: 1px 1px 30px -7px black;

}
.number-menu a {
    font-weight: 600;
    color: black;
    font-size: 16px;
}
.bars {
    display: none;
}
@media(max-width:1400px) {
    .main {
        width: 100%;
        padding: 10px 15px;
    }
}
@media(max-width:1213px) {
    .number-menu {
        display: none;
    }
}
@media(max-width:987px) {
    .centr-menu {
        display: none !important;
    }
    .bars {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: yellow;
        padding: 13px 13px;
        border-radius: 50px;
    }
    .main .nav-header .logo img {
        width: 115px;
    }
}
@media(max-width:350px) {
    .main .nav-header .logo img {
        width: 105px;
    }
    .search-link a svg {
        width: 23px;
        height: 23px;
    }
    .contect-menu {
        gap: 0.7rem;
    }
    .bars {
        padding: 10px;
    }
    .language-manu {
        padding: 4px;
    }
}